*,
*::before,
*::after {
  box-sizing: border-box;
}

html, body {
  height: auto;
  min-height: 100%;
  margin: 0;
  overflow-x: hidden;
  overflow-y: auto;
}


body {
  line-height: 1.5;
  background-color: var(--bg-main);
  color: var(--text-primary);
}

